// colors

$blue: #399FFE; // Blue
$darkblue: #304770; // Dark Gray
$lightblue: #4FC5FF; // Light Blue

$grey: #363636; // Grey
$darkgrey: #0D0D0D; // Dark Gray
$lightgrey: #616161; // Light Gray


$grey-blue: #222d3f; // Grey Blue
$dark-blue: #222d3f; // Dark Blue

$orange: #ff6b10; // Orange
$darkorange: #B24706; // Dark Orange
$lightorange: #FF7B29; // Light Orange

$green: #5cb85c; // Green
$darkgreen: #449d44; // Dark Green
$lightgreen: #99FF99; // Light Green

$white: #ffffff; // White
$red: #EF2B3E; // Red


// new
$blue2: #1289d5; // blue from Residence template
$light-blue: #31a2e1;

// brand colors
// -----------------------------------------------
$primary-color: $dark-blue;