@import "variables";

// CSS for background of the elements.
// Medicus
.bg-navy-blue {
  background-color: $navy-blue;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-darkest-blue {
  background-color: $dark-blue;
}

.bg-orange {
  background-color: $orange;
}

.bg-light-grey {
  background-color: $light-grey;
}

.bg-medium-grey {
  background-color: $medium-grey;
}

.bg-light-green {
  background-color: $light-green;
}

.bg-dark-green {
  background-color: $dark-green;
}

.bg-red {
  background-color: $red;
}

.bg-white {
  background-color: $white;
}

// Alrux Website
.bg-grey-blue {
  background-color: $grey-blue;
}

.bg-medium-grey2 {
  background-color: $medium-grey2;
}

.bg-light-grey2 {
  background-color: $light-grey2;
}

.bg-lightest-grey {
  background-color: $lightest-grey;
}

// Santorini
.bg-light-blue2 {
  background-color: $light-blue2;
}

// Residence
.bg-dark-blue-grey1 {
  background-color: $dark-blue-grey1;
}

.bg-dark-blue-grey2 {
  background-color: $dark-blue-grey2;
}

.bg-light-grey3 {
  background-color: $light-grey3;
}

.bg-orange {
  background-color: $orange;
}

.bg-light-blue3 {
  background-color: $light-blue3;
}

.bg-medium-blue {
  background-color: $medium-blue;
}

.bg-pale-blue {
  background-color: $pale-blue;
}

// CSS for text color
.text-white {
  h1, h2, h3, h4, h5, h6, div, table, td, span, p {
    color: #eee;
  }
}

.text-dark-grey {
  h1, h2, h3, h4, h5, h6, div, table, td, span, p {
    color: $dark-grey;
  }
}

.text-grey {
  h1, h2, h3, h4, h5, h6, div, table, td, span, p {
    color: $grey;
  }
}

.text-blackish {
  h1, h2, h3, h4, h5, h6, div, table, td, span, p {
    color: $blackish;
  }
}

.text-black {
  h1, h2, h3, h4, h5, h6, div, table, td, span, p {
    color: $black;
  }
}
