@import "partials/mixins";
@import 'colors';
@import "variables";
@import 'partials/bootstrap-custom';
@import 'partials/core';

@import "partials/grid"; // add onto bootstrap grid with helpers
@import "partials/typography";
@import "partials/button";
@import "partials/keystrokes";
@import "partials/styleguide";
@import "partials/inner";
@import "partials/forms";
@import "partials/table";
@import "partials/nav";
@import "partials/angular-bootstrap";


body {
	background-color: $body-bg;

	&.landing {
		background-color: $grey-blue;
		color: #fff;
	}
}

// Header
header {
  position: relative;
}

// Landing page
// -----------------------------------------------
.landing-masthead,
.landing-header {
  padding: $gutter*2 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: $grey-blue;

  .well {
  	background: none;
  	border-color: solid 1px #fff;
  }

  .welcome {
  	text-align: center;
  	-webkit-animation-duration: .5s;
	   -moz-animation-duration: .5s;
	     -o-animation-duration: .5s;
	        animation-duration: .5s;
  }

  .cancel {
  	margin-right: $gutter;
  	margin-top: $gutter/2;
  }
}


.pageHeader-dark, .pageHeader-light {
    color: white;
}

.pageHeader-dark{
    background-color: #304770;
    height: 60px;
}

.pageHeader-light{
    background-color: #4eabf9;
    height: 60px;
}
.pageHeader{
    padding-bottom: 65px;
}

select{
  color: black;
}

form{
  select{
    max-width: 100%;
  }
}

// -----------------------------------------------
// all style should go above this line
// load components last
// -----------------------------------------------
@import "../../app/**/*.scss";