@import "partials/mixins";
@import 'colors';
@import "variables";
@import 'partials/bootstrap-custom';
@import 'partials/core';
@import "partials/grid";
// add onto bootstrap grid with helpers
@import "partials/typography";
@import "partials/button";
@import "partials/keystrokes";
@import "partials/inner";
@import "partials/forms";
@import "partials/table";
@import "partials/ui-grid-custom";
@import "partials/nav";
@import "partials/paragraph";
@import "partials/angular-bootstrap";
@import "partials/wizard";

body {
  background-color: $white;
  color: $dark-grey !important;
  font-family: $base-font-family !important;

  &.landing {
    //background-color: $grey-blue;
    //color: #fff;
  }

}

.logo-text {
  color: $white;
  //font-family: 'Glasgow';
  font-weight: bolder;
}

.main_menu {
  float: right;
  margin-right: 150px;
}

// Header
header {
  background: $navy-blue;
  position: relative;
}

// Landing page
// -----------------------------------------------
.landing-masthead,
.landing-header {
  padding: $gutter*2 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: $grey-blue;

  .well {
    background: none;
    border: 1px solid #fff;
  }

  .welcome {
    text-align: center;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
  }

  .cancel {
    margin-right: $gutter;
    margin-top: $gutter/2;
  }
}

.pageHeader-dark, .pageHeader-light {
  color: white;
}

.pageHeader-dark {
  background-color: #304770;
  height: 60px;
}

.pageHeader-light {
  background-color: #4eabf9;
  height: 60px;
}

.pageHeader {
  padding-bottom: 65px;
}

select {
  color: black;
}

form {
  select {
    max-width: 100%;
  }
}

// -----------------------------------------------
// all style should go above this line
// load components last
// -----------------------------------------------
@import "../../app/**/*.scss";

.ui-grid {
  padding: 0;
}

.modal-content {
  border: 15px solid $dark-grey;
}

uib-accordion {
  .panel-heading {
    a {
      &:hover {
        color: $navy-blue;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none !important;
      }
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid #0e90d9;

  a {
    border: 1px solid $light-grey2;
  }

  &.letter-based {
    border: 0;
    a {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
  }
}

.btn-open-calendar {
  height: 37px;
  padding: 6px;
  border: 2px solid $medium-grey !important;
  border-radius: 0 !important;
  border-left: 0 !important;
}


.text-muted {
  color: transparent;
  //border: 1px solid red;
  display: none;
  //height:0;
}