// ==========================================================================
// Button
// ==========================================================================
@import "../variables";

.btn {
  font-family: 'Lato' !important;
  font-size: 15px !important;
  font-weight: bold !important;
  border: 1px solid $light-grey2 !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;

  background: $light-grey3;
  &:hover {
    background: $light-grey;
  }
  &:focus {
    outline: 0 !important;
  }
  &.btn-navy-blue {
    background: $navy-blue;
    color: $white !important;
  }
  &.btn-light-grey {
    background: $light-grey2;
    color: $black;
  }
  &.btn-medium-grey {
    background: $medium-grey;
    color: $black;
  }

  &.btn-over-lightblue {
    &:hover {
      background: $light-blue;
    }
  }
  &.btn-over-navyblue {
    &:hover {
      background: $navy-blue;
      color: $white;
    }
  }
  &.btn-over-green {
    &:hover {
      background: $green;
    }
  }
  &.btn-over-red {
    &:hover {
      background: $red;
    }
  }
  &.btn-over-orange {
    &:hover {
      background: $orange;
    }
  }
  &.btn-over-grey {
    &:hover {
      background: $light-grey2;
    }
  }
  &.btn-pill {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
  }
}

a.button,
.button,
button {
  background: none;

  &:hover {
    background-color: #fff;
    color: $dark-blue;
  }
  &.mont {
    @extend .mont;
  }
  &.rale {
    @extend .rale;
    font-weight: 700;
  }
  &.lato {
    @extend .lato;
  }
}

.button,
a.button,
button,
input[type="button"],
input[type="submit"],
.fc-state-default {
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
  cursor: pointer;
  overflow: visible;
  padding: 7px 10px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: $fontweightnormal;
  font-family: $base-font-family;
}

.btn {
  .btn-blue-small {
    background: red;
  }
}

.button {
  font-size: $base-font-size;
  min-height: 15px;
  color: #fff;
  &.blue-orange {
    background: $dark-blue;
    font-weight: $fontweightheavy;
    &:hover {
      background: $orange;
      color: #fff;
    }
  }
  &.blue-light {
    background: $dark-blue;
    font-weight: $fontweightheavy;
    &:hover {
      background: $light-blue;
      color: #fff;
    }
  }
  &.blue-dark {
    background: $blue;
    font-weight: $fontweightheavy;
    &:hover {
      background: $dark-blue;
      color: #fff;
    }
  }
  &.blue-green {
    background: $blue;
    font-weight: $fontweightheavy;
    &:hover {
      background: $green;
      color: #fff;
    }
  }
  &.orange {
    background: $orange;
    &:hover {
      background: $lightorange;
      color: #fff;
    }
  }
  &.orange-dark {
    background: $orange;
    &:hover {
      background: $darkorange;
      color: #fff;
    }
  }
  &.grey {
    background: $grey;
    &:hover {
      background: $dark-grey;
      color: #fff;
    }
  }
  &.grey-light {
    background: $grey;
    &:hover {
      background: $light-grey;
      color: #fff;
    }
  }
  &.green {
    background: $green;
    &:hover {
      background: $dark-green;
      color: #fff;
    }
  }
  &.green-light {
    background: $green;
    &:hover {
      background: $light-green;
      color: #fff;
    }
  }

  &.submit {
    padding: 5px 30px;
    border: none;
  }
}

//------ iPhone Style Checkbox -----------------------------------------

#sliderLabel {
  border: 1px solid #a2a2a2;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 30px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  width: 100px;
}

#sliderLabel input {
  display: none;
}

#sliderLabel input:checked + #slider {
  left: 0px;
}

#slider {
  left: -50px;
  position: absolute;
  top: 0px;

  -webkit-transition: left .25s ease-out;
  -moz-transition: left .25s ease-out;
  -o-transition: left .25s ease-out;
  -ms-transition: left .25s ease-out;
  transition: left .25s ease-out;
}

#sliderOn, #sliderBlock, #sliderOff {
  display: block;
  font-family: arial, verdana, sans-serif;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0px;
}

#sliderOn {
  background: #3269aa;

  background: -webkit-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
  background: -moz-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
  background: -o-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
  background: -ms-linear-gradient(top, #3269aa 0%, #82b3f4 100%);
  background: linear-gradient(top, #3269aa 0%, #82b3f4 100%);
  color: white;
  left: 0px;
  width: 54px;
}

#sliderBlock {
  background: #d9d9d8;

  background: -webkit-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
  background: -moz-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
  background: -o-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
  background: -ms-linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
  background: linear-gradient(top, #d9d9d8 0%, #fcfcfc 100%);
  border: 1px solid #a2a2a2;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-radisu: 3px;
  height: 28px;
  left: 50px;
  width: 50px;
}

#sliderOff {
  background: #f2f3f2;

  background: -webkit-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
  background: -moz-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
  background: -o-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
  background: -ms-linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
  background: linear-gradient(top, #8b8c8b 0%, #f2f3f2 50%);
  color: #8b8b8b;
  left: 96px;
  width: 54px;
}
