@import "../variables";

.form-control, .tagsinput, .select2-choices {
  font-family: $font-family-base;
  padding: 6px 6px 6px 12px;
  border: 2px solid $medium-grey!important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 6px;
}

input, select, textarea {
  &:focus {
    outline: 0 !important;
  }
}

label{
  color: $black;
}


form {
  label {
    font-family: "Lato";
    font-size: 15px;
    color: $black;
  }

  &.form-inline {
    label {
      padding: 6px 0 0 10px !important;
    }
  }
  .form-group {
    margin-left: 10px;
    label {
      padding: 0 0 0 10px;
    }
  }
}