@import "../variables";
// Paragraph addons

p {
  line-height: 22px;

  &.h1, &.h2, &.h3, &.h4, &.h5, &.h6 {
    line-height: 30px;
  }

  &.p-padding {
    padding: 5px;
  }
  &.p-margin {
    margin: 5px;
  }
  &.p-border {
    border: 1px solid $black;
  }
}