// ==========================================================================
// Styleguide - live
// ==========================================================================
@import "variables";

.style-guide {

  .section {
    margin-bottom: $gutter*2;
  }

  .banner-top {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 2em;
    background: $grey-blue;
    width: 100%;
    margin-bottom: $gutter;
    padding: $gutter/2 $gutter;
  }
  .title-block {
    color: $white;
    background: $darkblue;
    width: 100%;
    padding: $gutter/2 $gutter;
    margin-bottom: 20px;
    > * {
      margin: 0;
    }
  }
  .block {
    color: $white;
    background: lighten($darkblue, 20%);
    width: 100%;
    padding: $gutter/2 $gutter;
    margin-bottom: 20px;
    > * {
      margin: 0;
    }
  }
  pre {
    padding: 10px 0px;
    overflow: auto;
    font-size: 13.6px;
    line-height: 1.45;
    background-color: #3d3d3d;
    border-radius: 8px;
    color: #fff;
    text-align: left;
    span {
      color: $green;
    }
  }
  .color-square {
    width: 100%;
    height: 100px;
    float: left;
    position: relative;
    color: #fff;
    font-size: 14px;
    padding: 1em;
    border-radius: 8px;
    overflow: hidden;
    &.blue {
      background-color: $blue;
    }
    &.grey {
      background-color: $grey;
    }
    &.green {
      background-color: $green;
    }
    &.grey-blue {
      background-color: $grey-blue;
    }
    &.orange {
      background-color: $orange;
    }
    &.red {
      background-color: $red;
    }
    &.light-blue {
      background-color: $light-blue;
    }
    &.blue2 {
      background-color: $blue2;
    }
    .bottom-color-square {
      width: 50%;
      height: 33px;
      position: absolute;
      bottom: 0px;
      padding: 7px 14px;
      color: #fff;
      // Dark
      &.darkblue {
        background: $darkblue;
        left: 0px;
      }
      &.darkgrey {
        background: $darkgrey;
        left: 0px;
      }
      &.darkgreen {
        background: $darkgreen;
        left: 0px;
      }
      &.darkorange {
        background: $darkorange;
        left: 0px;
      }
      // Light
      &.lightblue {
        background: $lightblue;
        right: 0px;
      }
      &.lightgrey {
        background: $lightgrey;
        right: 0px;
      }
      &.lightgreen {
        background: $lightgreen;
        right: 0px;
      }
      &.lightorange {
        background: $lightorange;
        right: 0px;
      }
    }
  }
  input[type="button"],
  input[type="submit"],
  .fc-state-default {
    display: inline-block;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
    cursor: pointer;
    overflow: visible;
    padding: 7px 10px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: $fontweightnormal;
    font-family: $base;
  }

  .background-styleguide {
    background: $grey-blue;
    height: auto;
    padding: 10px 3px;
    float: left;
    width: 100%;
    margin-top: 15px;
    .blue-link {
      color: #fff;
      font-weight: $fontweightlight;
      &:hover {
        color: $orange;
      }
      &.underline {
        font-weight: $fontweightlight;
        &:hover {
          color: $orange;
        }
      }
    }
  }
  .menu-container {
    height: 160px;
    margin-bottom: 60px;
  }
  .dropit-trigger {
    a {
      color: $grey-blue;
    }
  }
  .dropdownstyle {
    background: $grey-blue;
    padding: 10px 8px !important;
    border-radius: 6px;
    margin-top: 7px !important;
    &::before {
      content: '';
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-bottom-color: #111;
      border-bottom-color: $grey-blue;
      position: absolute;
      top: -7px;
      left: 9px;
    }
    li {
      color: #fff;
      padding: 5px 10px !important;
      a {
        color: #fff;
        font-weight: $fontweightlight;
        font-size: 14px !important;
      }
      &:hover {
        background: $orange;
        border-radius: 8px;
      }
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #bbb;
    background: rgb(248, 248, 248);
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    color: #555555;
    font-weight: 400;
  }
  select {
    text-overflow: '';
    text-indent: 0.01px;
  }
  .wrapper-select:after {
    font-family: FontAwesome;
    line-height: normal;
    font-weight: normal;
    font-size: 12px;
    content: "\f078";
    position: absolute;
    top: 16px;
    right: 17px;
  }
  .wrapper-select {
    position: relative;
  }
  input {
    -webkit-appearance: none;
    box-shadow: none !important;
  }
  :-webkit-autofill {
    color: #fff !important;
  }
  select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
    box-shadow: none !important;
  }
  .select2 {
    position: absolute;
    width: 95%;
    input {
      display: none;
    }
  }
  form {
    &.sample {
      margin-bottom: 120px;
    }
    .tagsinput {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: normal;
      border-radius: 0;
      box-shadow: none;
      width: auto;
      padding: 12px 18px;
      height: auto;
      border: 2px solid #C2C2C2;
      line-height: normal;
      transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
      min-width: 80%;
      color: #6d6e71;
      background: transparent;
      margin-bottom: 20px;
      width: 100%;
      position: relative;
      border-radius: 6px;
    }
    input {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: normal;
      border-radius: 0;
      box-shadow: none;
      width: auto;
      padding: 12px 18px;
      height: auto;
      border: 2px solid #C2C2C2;
      line-height: normal;
      transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
      min-width: 80%;
      color: #6d6e71;
      background: transparent;
      margin-bottom: 20px;
      width: 100%;
      position: relative;
      border-radius: 6px;
      &.validate {
        border: 2px solid #FF5065;
      }
      &[type="email"].validate::-webkit-input-placeholder {
        color: #FF5065;
      }
    }
    select {
      font-family: $base;
      font-size: 14px;
      font-weight: $fontweightheavy;
      border-radius: 0;
      box-shadow: none;
      width: auto;
      padding: 12px 18px;
      height: auto;
      border: 2px solid #C2C2C2;
      line-height: normal;
      transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
      min-width: 95%;
      color: #A9A9A9;
      background: transparent;
      margin-bottom: 20px;
      width: 100%;
      position: relative;
      border-radius: 6px;
    }
    textarea {
      width: 100%;
      margin-bottom: 25px;
      font-family: $base;
      font-size: 14px;
      font-weight: $fontweightheavy;
      border-radius: 0;
      box-shadow: none;
      width: auto;
      padding: 12px 18px;
      height: auto;
      border: 2px solid #C2C2C2;
      line-height: normal;
      transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
      width: 100%;
      color: #6d6e71;
      background: transparent;
      border-radius: 6px;
    }
    button {
      &.ui-datepicker-trigger {
        position: absolute;
        right: 20px;
        background: #fff;
        border: none;
        top: 4px;
        i {
          color: #C2C2C2;
          font-size: 18px;
        }
      }
    }
  }
}
