
#wizard-container {
  color: $navy-blue;
  #wizard-content-container {
    display: -webkit-box;
    margin-bottom: 20px;
    padding: 10px 0 10px 0;
    border-top: 1px solid $dark-blue;
    border-bottom: 1px solid $dark-blue;
  }
  #wizard-navigation-container {
    padding-bottom: 100px;
  }
  #wizard-step-container {
    li {
      .step-title {
        font-size: 14px;
        background: none;
        color: $dark-grey;
        font-weight: bold;
      }
      .step-number {
        background: $light-grey2;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        margin: auto;
        color: $dark-grey;
      }
      hr {
        border-top-width: 6px;
        border-style: solid;
        border-color: $light-grey2;
        background: $light-grey2;
        margin-top: -28px;
      }

      &.active {
        .step-title {
          color: $navy-blue !important;
        }
        .step-number {
          background: $orange !important;
        }
        hr {
          border-color: $orange !important;
          background: $orange !important;
        }
      }
      &.passed {
        .step-title {
          color: $navy-blue;
        }
        .step-number {
          background: $navy-blue;
          color: $white;
        }
        hr {
          border-color: $navy-blue;
          background: $medium-blue;
        }
      }
    }
  }
  #address2 {
    margin-top: 5px;
  }
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-30 {
  margin-top: 30px;
}

.table-borderless {
  td {
    border: none !important;
  }
}

.controls-div {
  .row {
    padding-top: 20px;
  }
}