<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
    <h4>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 text-left"><strong>Welcome, {{vm.currentUser.firstName}}</strong></div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right"><strong>my Panacea Health Profile</strong></div>
        </div>
    </h4>
    <div id="wizard-container" ng-controller="profileManagementController as vm">
        <div id="wizard-step-container">
            <ul class="nav nav-pills nav-justified">
                <li ng-repeat="step in vm.steps" ng-class="{'active':step.step == vm.currentStep}">
                    <a ng-click="vm.gotoStep(step.step)" href="">
                        <!--<i class="glyphicon glyphicon-arrow-left"></i>-->
                        {{step.name}}
                    </a>
                </li>
            </ul>
        </div>

        <div id="wizard-content-container">
            <ng-include src="vm.getStepTemplate()"></ng-include>
        </div>

        <div id="wizard-navigation-container">
            <div class="pull-right">
                <span class="btn-group">
                  <button ng-disabled="vm.currentStep <= 1" class="btn btn-default btn-navy-blue btn-over-orange" name="previous" type="button" ng-click="vm.gotoStep(vm.currentStep - 1)">
                      <i class="fa fa-arrow-left"></i> Back
                  </button>
                </span>
                <span class="btn-group">
                  <button ng-disabled="vm.currentStep >= vm.steps.length" class="btn btn-primary btn-navy-blue btn-over-orange" name="next" type="button" ng-click="vm.gotoStep(vm.currentStep + 1)">
                      Next <i class="fa fa-arrow-right"></i>
                  </button>
                </span>
                <button ng-disabled="vm.currentStep != vm.steps.length" class="btn btn-success btn-navy-blue btn-over-orange" name="next" type="button" ng-click="vm.save()">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>