<div class="modal-header">
    <h1 class="logo text-center">Panacea Health</h1>
</div>

<div class="modal-body">
    <p ng-if="vm.currentView === 'initialInfo'" class="pad-center p-label">
        <strong>Welcome to Panacea Health.  Our platform and network are a part of the real world healthcare system, so please create your account based on your real life role and location.  All healthcare providers and healthcare organizations are authenticated for patient safety and security.</strong>
    </p>
    <form name="registrationForm">
        <div ng-if="vm.currentView === 'initialInfo'">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <country-editor></country-editor>
                </div>
            </div>
            <p class="pad-center p-label">
                <strong>Select your Role:</strong>  If you are a patient, parent, caregiver, active military, or veteran, please select Individual and we will help you set up an account with tools for your specific role.  If you are a physician or nurse, please select physician or nurse and we will set up your account so you can access and work with one or more medical practices, hospitals, and nursing homes.
            </p>
            <br/>
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <list-item-editor
                            target-field="vm.newAccount.role"
                            list-items="vm.roles"
                            on-item-selected="vm.selectSignupType()"
                            on-go-back="vm.clearRoleSelection()"
                            single-select="true"></list-item-editor>
                    <div ng-if="vm.selectAccountType">
                        <list-item-editor
                                header-text="Specify your Role with one or more selections"
                                target-field="vm.newAccount.accountTypes"
                                list-items="vm.accountTypes"
                                single-select="false"></list-item-editor>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.currentView === 'registrationDetails'" ng-switch on="vm.newAccount.role">
            <person-details ng-switch-when="Individual"></person-details>
        </div>
        <div ng-if="vm.currentView === 'physicianDetails'">
            <h1>Physician signup</h1>
            <p>Coming soon!</p>

            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    <button type="button" class="button" ng-click="vm.startOver()">Previous</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button ng-if="vm.formValid() && vm.currentView === 'initialInfo'"
            type="button" class="button" ng-click="vm.beginAccountRegistration()">Begin Registration</button>
    <button ng-if="vm.currentView === 'registrationDetails'"
            class="button pull-right"
            type="button"
            ng-click="vm.registerUser()"
            ng-disabled="registrationForm.$invalid">Submit</button>
</div>

<script type="text/ng-template" id="rolesToolTip.html">
    If you are a patient, parent, caregiver, active military, or veteran, please select Individual and we will help you set up an account with tools for your specific role.  If you are a physician or nurse, please select physician or nurse and we will set up your account so you can access and work with one or more medical practices, hospitals, and nursing homes.
</script>
