<div class="bread_crumb_pane">
    <h2>Breadcrumbs</h2>
    <div class="row">
        <div class="col-md-12">
            <nav class="breadcrumb">
                <i class="glyphicon glyphicon-home"></i>
                <a class="breadcrumb-item" href="#">Home</a> >
                <a class="breadcrumb-item" href="#">Styleguide</a> >
                <a class="breadcrumb-item" href="#">Breadcrumb</a> >
                <span class="breadcrumb-item active">Simple</span>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="breadcrumb shrirink">
                <i class="glyphicon glyphicon-home"></i>
                &nbsp;
                <span class="breadcrumb-item-wrapper breadcrumb-home">
                    <a class="breadcrumb-iteme" href="#">Home</a>
                </span>
                <span class="breadcrumb-item-wrapper">
                    <span class="breadcrumb-separator">></span>
                    <a class="breadcrumb-item" href="#">Styleguide page</a>
                </span>
                <span class="breadcrumb-item-wrapper">
                    <span class="breadcrumb-separator">></span>
                    <a class="breadcrumb-item" href="#">Breadcrumb Item</a>
                </span>
                <span class="breadcrumb-item-wrapper">
                    <span class="breadcrumb-separator">></span>
                    <a class="breadcrumb-item" href="#">Animation Effect</a>
                </span>
                <span class="breadcrumb-item-wrapper">
                    <span class="breadcrumb-separator">></span>
                    <a class="breadcrumb-item" href="#">Categories</a>
                </span>
                <span class="breadcrumb-separator">></span>
                <span class="breadcrumb-item active">Items</span>
            </nav>
        </div>
    </div>
</div>