<div class="tab-pane" id="buttons_pane">
    <h2>Buttons</h2>
    <hr/>
    <div class="row">
        <div class="col-md-2 text-center">
            <button class="btn btn-navy-blue btn-over-lightblue btn-xs">Small</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-medium-grey btn-over-orange btn-xs">Small</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-light-grey btn-over-lightblue btn-xs">Small</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-navy-blue btn-over-red btn-xs">Small</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-navy-blue btn-over-green btn-pill btn-xs">Small</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-light-grey btn-over-lightblue btn-pill btn-xs">Small</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2 text-center">
            <button class="btn btn-navy-blue btn-over-lightblue">Normal</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-medium-grey btn-over-orange">Normal</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-light-grey btn-over-lightblue btn-lg">Normal</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-navy-blue btn-over-red">Normal</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-navy-blue btn-over-green btn-pill">Normal</button>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-light-grey btn-over-lightblue btn-pill">Normal</button>
        </div>
    </div>
    <br/>
    <hr/>
    <h4>Check Boxes and Radio Buttons</h4>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label" style="padding-top: 33px;">Stacked Radio Buttons: </label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="radio">
                    <input type="radio" name="optionsRadios1" value="option1">
                    Option 1
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios1" value="option2" checked>
                    Option 2
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios1" value="option3" disabled>
                    Option 3
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Inline Radio Buttons: </label>
        </div>
        <div class="col-md-10">
            <div class="form-group" style="margin-left: -20px;">
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios2" value="option1">
                    Option 1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios2" value="option2" checked>
                    Option 2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios2" value="option3" disabled>
                    Option 3
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label" style="padding-top: 26px;">Stacked Checkbox: </label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" value=""> Checkbox 1
                </label>
                <label class="checkbox">
                    <input type="checkbox" value="" disabled> Checkbox 2
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Inline Checkbox: </label>
        </div>
        <div class="col-md-10">
            <div class="form-group" style="margin-left: -20px;">
                <label class="checkbox-inline">
                    <input type="checkbox" value=""> Checkbox 1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="" disabled> Checkbox 2
                </label>
            </div>
        </div>
    </div>
    <hr>
    <h4>Special Buttons</h4>
    <div class="row">
        <div class="col-md-12">
            <toggle-switch ng-model="vm.switchStatus1" class="switch-primary"></toggle-switch>
            <toggle-switch ng-model="vm.switchStatus2" on-label="Yes" off-label="No" class="switch-info"></toggle-switch>
            <toggle-switch ng-model="vm.switchStatus3" on-label="Enable" off-label="Disable" class="switch-success"></toggle-switch>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <toggle-switch ng-model="vm.switchStatus4" on-label="One" knob-label="Two" off-label="Three" class="switch-warning"></toggle-switch>
            <toggle-switch ng-model="vm.switchStatus5" class="switch-danger"></toggle-switch>
            <toggle-switch ng-model="vm.switchStatus6" class="switch-default"></toggle-switch>
        </div>
    </div>
</div>
