<div class="tab-pane" id="font_color_pane">
    <h2>Font Colors</h2>
    <div class="row">
        <div class="col-xs-6 text-white bg-light-blue">
            <h1>White Text</h1>
            <h2>White Text</h2>
            <h3>White Text</h3>
            <h4>White Text</h4>
        </div>
        <div class="col-xs-6 text-dark-grey">
            <h1>Dark Grey Text</h1>
            <h2>Dark Grey Text</h2>
            <h3>Dark Grey Text</h3>
            <h4>Dark Grey Text</h4>
        </div>
        <div class="col-xs-6 text-grey">
            <h1>Grey Text</h1>
            <h2>Grey Text</h2>
            <h3>Grey Text</h3>
            <h4>Grey Text</h4>
        </div>
        <div class="col-xs-6 text-blackish">
            <h1>Blackish Text</h1>
            <h2>Blackish Text</h2>
            <h3>Blackish Text</h3>
            <h4>Blackish Text</h4>
        </div>
        <div class="col-xs-6 text-black">
            <h1>Black Text</h1>
            <h2>Black Text</h2>
            <h3>Black Text</h3>
            <h4>Black Text</h4>
        </div>
    </div>
</div>
