<div class="tab-pane" id="font_color_pane">
    <h2>Font Colors</h2>
    <hr/>
    <h3 class="lato">White Text (#eeeeee)</h3>
    <div class="row">
        <div class="col-md-7 col-md-offset-1 bg-dark-blue-grey1 text-white">
            <h1 class="opensans">Heading 1</h1>
            <h2 class="opensans">Heading 2</h2>
            <h3 class="opensans">Heading 3</h3>
            <h4 class="opensans">Heading 4</h4>
            <p class="opensans1">Body Text 1</p>
            <p class="opensans2">Body Text 2</p><br/>
        </div>
    </div>
    <h3 class="lato">Grey Text (#6f6f6f)</h3>
    <div class="row">
        <div class="col-md-7 col-md-offset-1 bg-white text-grey" style="border: 1px solid lightgrey;">
            <h1 class="opensans">Heading 1</h1>
            <h2 class="opensans">Heading 2</h2>
            <h3 class="opensans">Heading 3</h3>
            <h4 class="opensans">Heading 4</h4>
            <p class="opensans1">Body Text 1</p>
            <p class="opensans2">Body Text 2</p><br/>
        </div>
    </div>
    <h3 class="lato">Dark Grey Text (#323232)</h3>
    <div class="row">
        <div class="col-md-7 col-md-offset-1 bg-light-grey text-dark-grey">
            <h1 class="opensans">Heading 1</h1>
            <h2 class="opensans">Heading 2</h2>
            <h3 class="opensans">Heading 3</h3>
            <h4 class="opensans">Heading 4</h4>
            <p class="opensans1">Body Text 1</p>
            <p class="opensans2">Body Text 2</p><br/>
        </div>
    </div>
    <h3 class="lato">Blackish Text (#323232)</h3>
    <div class="row">
        <div class="col-md-7 col-md-offset-1 bg-light-grey text-blackish">
            <h1 class="opensans">Heading 1</h1>
            <h2 class="opensans">Heading 2</h2>
            <h3 class="opensans">Heading 3</h3>
            <h4 class="opensans">Heading 4</h4>
            <p class="opensans1">Body Text 1</p>
            <p class="opensans2">Body Text 2</p><br/>
        </div>
    </div>
    <h3 class="lato">Black Text (#000000)</h3>
    <div class="row">
        <div class="col-md-7 col-md-offset-1 bg-light-grey text-black">
            <h1 class="opensans">Heading 1</h1>
            <h2 class="opensans">Heading 2</h2>
            <h3 class="opensans">Heading 3</h3>
            <h4 class="opensans">Heading 4</h4>
            <p class="opensans1">Body Text 1</p>
            <p class="opensans2">Body Text 2</p><br/>
        </div>
    </div>
</div>
