<div id="notification_pane">
    <h3>Notifications</h3>
    <div class="rows">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="vm.primary()">Primary Notification</button>
            <button class="btn btn-danger" ng-click="vm.error()">Error Notification</button>
            <button class="btn btn-success" ng-click="vm.success()">Success Notification</button>
            <button class="btn btn-info" ng-click="vm.info()">Information Notification</button>
            <button class="btn btn-warning" ng-click="vm.warning()">Warning Notification</button>
        </div>
    </div>
    <!-- <div class="rows">
         <div class="col-md-6">
             <h4>Style2</h4>
             <div class="btn-group-vertical">
                 <button class="btn btn-danger" ng-click="vm.showError()">Show error Notification</button>
                 <button class="btn btn-success" ng-click="vm.showSuccess()">Show success Notification</button>
                 <button class="btn btn-warning" ng-click="vm.showWarning()">Show warning Notification</button>
                 <button class="btn btn-info" ng-click="vm.showInfo()">Show info Notification</button>
                 <button class="btn btn-default" ng-click="vm.showAll()">Show all Notifications</button>
             </div>
         </div>
     </div>-->
</div>