<div class="tab-pane" id="paragraphs_pane">
    <h2>Paragraphs</h2>
    <hr/>
    <!--<div class="row">-->
    <p class="h1">Heading 1</p>
    <p class="h2">Heading 2</p>
    <p class="h3">Heading 3</p>
    <p class="h4">Heading 4</p>
    <p class="h5">Heading 5</p>
    <p class="h6">Heading 6</p>
    <p class="p-margin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p class="p-border">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p class="p-padding">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <!--</div>-->
    <!--<div class="row">
        <div class="col-md-12">
            <p class="p-line-30">Header line height: 30px – Please use "p-line-30" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-line-22">Paragraph line height: 22 px – Please use "p-line-22" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-padding-5">Form Padding: 5px – Please use "p-padding-5" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-margin">Margin – Please use "p-margin" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-border">Border – Please use "p-border" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-padding">Padding – Please use "p-padding" to apply this style on &lt;p&gt; tag.</p>
        </div>
    </div>-->
</div>
