<div class="tab-pane" id="paragraphs_pane">
    <h2>Paragraphs</h2>
    <div class="row">
        <div class="col-md-12">
            <p class="p-line-30">Header line height: 30px – Please use "p-line-30" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-line-22">Paragraph line height: 22 px – Please use "p-line-22" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-padding-5">Form Padding: 5px – Please use "p-padding-5" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-margin">Margin – Please use "p-margin" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-border">Border – Please use "p-border" to apply this style on &lt;p&gt; tag.</p>
            <p class="p-padding">Padding – Please use "p-padding" to apply this style on &lt;p&gt; tag.</p>
        </div>
    </div>
</div>
