<div class="tab-pane" id="text_boxes_pane">
    <h2>Text Boxes</h2>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <p>
                <input type="text" name="ci_name" id="ci_name1" class="form-control" placeholder="">
            </p>
            <p>
                <input type="text" name="arrive" id="arrive1" class="form-control datepicker hasDatepicker" placeholder="">
            </p>
            <p>
                <input type="email" name="ci_email" id="ci_email1" class="form-control validate" placeholder=""/>
            </p>
            <p>
                <input type="text" name="depart" id="depart1" class="form-control datepicker hasDatepicker" placeholder="">
            </p>
        </div>
    </div>
</div>
