<div class="tab-pane" id="tooltip_pane">
    <h2>Tooltip and Popover</h2>
    <div class="row">
        <h4 class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">Click Event</h4>
        <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <button popover-title="Title"
                    uib-popover="Contents of the popover."
                    popover-placement="left"
                    mouseleave="vm.hidePopover(1000)"
                    type="button"
                    class="btn btn-default btn-navy-blue btn-over-lightblue">
                Left
            </button>
            <button popover-title="Title"
                    uib-popover="Contents of the popover."
                    popover-placement="top"
                    type="button"
                    class="btn btn-default btn-navy-blue btn-over-lightblue">
                Top
            </button>
            <button popover-title="Title"
                    uib-popover="Contents of the popover."
                    popover-placement="right"
                    type="button"
                    class="btn btn-default btn-navy-blue btn-over-lightblue">
                Right
            </button>
            <button popover-title="Title"
                    uib-popover="Contents of the popover."
                    popover-placement="bottom"
                    type="button"
                    class="btn btn-default btn-navy-blue btn-over-lightblue">
                Bottom
            </button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <h4 class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">Mouseover Event</h4>
        <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <button popover-title="Title"
                    uib-popover="Contents of the popover."
                    popover-trigger="'mouseover'"
                    popover-placement="left"
                    type="button"
                    class="btn btn-default btn-navy-blue btn-over-lightblue">
                Left
            </button>
            <button popover-title="Title"
                    uib-popover="Contents of the popover."
                    popover-trigger="'mouseover'"
                    popover-placement="top"
                    type="button"
                    class="btn btn-default btn-navy-blue btn-over-lightblue">
                Top
            </button>
            <button popover-title="Title"
                    uib-popover="Contents of the popover."
                    popover-trigger="'mouseover'"
                    popover-placement="right"
                    type="button"
                    class="btn btn-default btn-navy-blue btn-over-lightblue">
                Right
            </button>
            <button popover-title="Title"
                    uib-popover="Contents of the popover."
                    popover-trigger="'mouseover'"
                    popover-placement="bottom"
                    type="button"
                    class="btn btn-default btn-navy-blue btn-over-lightblue">
                Bottom
            </button>
        </div>
    </div>
</div>
