<div class="tab-pane" id="typography_pane">
    <h2>Typography</h2>
    <hr/>
    <h4 class="sub-section">Open Sans Font</h4>
    <hr/>
    <div class="row">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h1 class="opensans">Heading1</h1>
            </div>
            <div class="col-md-5">
                <h6>font size: 50px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2 class="opensans">Heading2</h2>
            </div>
            <div class="col-md-5">
                <h6>font size: 40px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3 class="opensans">Heading3</h3>
            </div>
            <div class="col-md-5">
                <h6>font size: 20px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h4 class="opensans">Heading4</h4>
            </div>
            <div class="col-md-5">
                <h6>font size: 15px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p class="opensans1">Body text 1</p>
            </div>
            <div class="col-md-5">
                <h6>font size: 15px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p class="opensans2">Body text 2</p>
            </div>
            <div class="col-md-5">
                <h6>font size: 13px</h6>
                <h6>line height: </h6>
            </div>
        </div>
    </div>
    <hr>
    <h4 class="sub-section">Montserrat Font</h4>
    <hr>
    <div class="row">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h1 class="montserrat">Heading1</h1>
            </div>
            <div class="col-md-5">
                <h6>font size: 48px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2 class="montserrat">Heading2</h2>
            </div>
            <div class="col-md-5">
                <h6>font size: 42px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3 class="montserrat">Heading3</h3>
            </div>
            <div class="col-md-5">
                <h6>font size: 24px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h4 class="montserrat">Heading4</h4>
            </div>
            <div class="col-md-5">
                <h6>font size: 18px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p class="montserrat1">Body text 1</p>
            </div>
            <div class="col-md-5">
                <h6>font size: 18px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p class="montserrat2">Body text 2</p>
            </div>
            <div class="col-md-5">
                <h6>font size: 15px</h6>
                <h6>line height: </h6>
            </div>
        </div>
    </div>
    <hr>
    <h4 class="sub-section">Raleway Font</h4>
    <hr>
    <div class="row">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h1 class="raleway">Heading1</h1>
            </div>
            <div class="col-md-5">
                <h6>font size: 68px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2 class="raleway">Heading2</h2>
            </div>
            <div class="col-md-5">
                <h6>font size: 30px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3 class="raleway">Heading3</h3>
            </div>
            <div class="col-md-5">
                <h6>font size: 26px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h4 class="raleway">Heading4</h4>
            </div>
            <div class="col-md-5">
                <h6>font size: 18px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p class="raleway1">Body text 1</p>
            </div>
            <div class="col-md-5">
                <h6>font size: 18px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p class="raleway2">Body text 2</p>
            </div>
            <div class="col-md-5">
                <h6>font size: 15px</h6>
                <h6>line height: 1.1em</h6>
            </div>
        </div>
    </div>
    <hr>
    <h4 class="sub-section">Lato Font</h4>
    <hr>
    <div class="row">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h1 class="lato">Heading1</h1>
            </div>
            <div class="col-md-5">
                <h6>font size: 48px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2 class="lato">Heading2</h2>
            </div>
            <div class="col-md-5">
                <h6>font size: 42px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h3 class="lato">Heading3</h3>
            </div>
            <div class="col-md-5">
                <h6>font size: 24px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h4 class="lato">Heading4</h4>
            </div>
            <div class="col-md-5">
                <h6>font size: 18px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p class="lato1">Body text 1</p>
            </div>
            <div class="col-md-5">
                <h6>font size: 15px</h6>
                <h6>line height: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p class="lato2">Body text 2</p>
            </div>
            <div class="col-md-5">
                <h6>font size: 13px</h6>
                <h6>line height: </h6>
            </div>
        </div>
    </div>
</div>
