<div class="tab-pane" id="typography_pane">
    <h2>Typography</h2>
    <div class="row">
        <h4>Open Sans Font</h4>
        <hr>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h1 class="opensans">Heading1</h1>
            </div>
            <div class="col-md-5">
                <h6>font size: 50px</h6>
                <h6>line height: 1.3em/68px</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h2 class="opensans">Heading2</h2>
            </div>
            <div class="col-md-5">
                <h6>font size: 600px</h6>
                <h6>line height: 1.3em/68px</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h3 class="opensans">Heading3</h3>
            </div>
            <div class="col-md-5">
                <h6>font size: 600px</h6>
                <h6>line height: 1.3em/68px</h6>
            </div>
        </div>
    </div>
    <hr>
    <!--
        <hr>
        <hr>
        <div class="row">
            <div class="col-xs-6 lato">
                <h1 class="block">Lato - Medicus</h1>
                <h1>Heading level 1</h1>
                <h2>Heading level 2</h2>
                <h3>Heading level 3</h3>
                <p class="rale">
                    I’d have to say, those tacos are on fleek. Let’s do a beef and a chicken, and one with both. It’s taco Tuesday Monday. TACOS!! CARNITAS!! Fish tacos: lettuce or cabbage, pico de gallo, avocado and a sour cream or citrus/mayonnaise sauce, all placed on top of a corn or flour
                    tortilla.
                    Flour or corn tortillas?
                </p>
            </div>
            <div class="col-xs-6 mont">
                &lt;!&ndash; headline styles &ndash;&gt;
                <h1 class="block">Montserrat Font - Santorini</h1>
                <h1>Heading level 1</h1>
                <h2>Heading level 2</h2>
                <h3>Heading level 3</h3>
                <p>
                    I’d have to say, those tacos are on fleek. Let’s do a beef and a chicken, and one with both. It’s taco Tuesday Monday. TACOS!! CARNITAS!! Fish tacos: lettuce or cabbage, pico de gallo, avocado and a sour cream or citrus/mayonnaise sauce, all placed on top of a corn or flour
                    tortilla.
                    Flour or corn tortillas?
                </p>
            </div>
            <div class="col-xs-6 lato">
                <h1 class="block">Open Sans - Tachyon</h1>
                <h1>Heading level 1</h1>
                <h2>Heading level 2</h2>
                <h3>Heading level 3</h3>
                <p class="rale">
                    I’d have to say, those tacos are on fleek. Let’s do a beef and a chicken, and one with both. It’s taco Tuesday Monday. TACOS!! CARNITAS!! Fish tacos: lettuce or cabbage, pico de gallo, avocado and a sour cream or citrus/mayonnaise sauce, all placed on top of a corn or flour
                    tortilla.
                    Flour or corn tortillas?
                </p>
            </div>
            <div class="col-xs-6 rale">
                &lt;!&ndash; headline styles &ndash;&gt;
                <h1 class="block">Raleway - Medicus</h1>
                <h1>Heading level 1</h1>
                <h2>Heading level 2</h2>
                <h3>Heading level 3</h3>
                <p>
                    I’d have to say, those tacos are on fleek. Let’s do a beef and a chicken, and one with both. It’s taco Tuesday Monday. TACOS!! CARNITAS!! Fish tacos: lettuce or cabbage, pico de gallo, avocado and a sour cream or citrus/mayonnaise sauce, all placed on top of a corn or flour
                    tortilla.
                    Flour or corn tortillas?
                </p>
            </div>
        </div>-->
</div>
