<div class="tab-pane" id="wizard_pane">
    <h2>Wizard</h2>
    <div class="row">
        <div id="wizard" class="swMain">
            <ul class="wizard-steps">
                <li>
                    <a href="#step-1" class="">
                        <div class="wizard-step-number">1</div>
                        <div class="wizard-step-label">Business Details</div>
                        <div class="wizard-step-bar"></div>
                    </a>
                </li>
                <li>
                    <a href="#step-2" class="">
                        <div class="wizard-step-number">2</div>
                        <div class="wizard-step-label">Profile Details</div>
                        <div class="wizard-step-bar"></div>
                    </a>
                </li>
                <li>
                    <a href="#step-3" class="">
                        <div class="wizard-step-number">3</div>
                        <div class="wizard-step-label">Contact Details</div>
                        <div class="wizard-step-bar"></div>
                    </a>
                </li>
                <li>
                    <a href="#step-4" class="">
                        <div class="wizard-step-number">4</div>
                        <div class="wizard-step-label">Finish Wizard</div>
                        <div class="wizard-step-bar"></div>
                    </a>
                </li>
            </ul>

            <div id="step-1">
                <h3>Business Details:</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="bizname">Business Name</label>
                            <div class="controls">
                                <input type="text" class="input-medium" id="bizname">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="bizemail">Business Email</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="bizemail">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="bizindustry">Industry</label>
                            <div class="controls">
                                <select id="bizindustry">
                                    <option>Retail</option>
                                    <option>Technology</option>
                                    <option>Entertainment</option>
                                    <option>Automotive</option>
                                    <option>Transportation</option>
                                </select>
                            </div>
                        </div>
                    </div> <!-- /span6 -->
                </div> <!-- /row-fluid -->
            </div> <!-- /step -->

            <div id="step-2">
                <h3>Profile Details:</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="userfirst">First Name</label>
                            <div class="controls">
                                <input class="input-medium" id="userfirst">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="userlast">Last Name</label>
                            <div class="controls">
                                <input class="input-large" id="userlast">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="userlanguage">Language</label>
                            <div class="controls">
                                <select id="userlanguage" name="userlanguage">
                                    <option>Select Language...</option>
                                    <option value="da">Danish - Dansk</option>
                                    <option value="nl">Dutch - Nederlands</option>
                                    <option value="en" selected="">English</option>
                                    <option value="fil">Filipino - Filipino</option>
                                    <option value="fi">Finnish - Suomi</option>
                                    <option value="fr">French - francais</option>
                                    <option value="de">German - Deutsch</option>
                                    <option value="hu">Hungarian - Magyar</option>
                                    <option value="id">Indonesian - Bahasa Indonesia</option>
                                    <option value="it">Italian - Italiano</option>
                                    <option value="msa">Malay - Bahasa Melayu</option>
                                    <option value="no">Norwegian - Norsk</option>
                                    <option value="pl">Polish - Polski</option>
                                    <option value="pt">Portuguese - Português</option>
                                    <option value="es">Spanish - Español</option>
                                    <option value="sv">Swedish - Svenska</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="userbio">Bio</label>
                            <div class="controls">
                                <textarea class="input-large" id="userbio" rows="4"></textarea>
                            </div>
                        </div>
                    </div> <!-- /span6 -->
                </div> <!-- /row-fluid -->
            </div> <!-- /step -->
            <div id="step-3">
                <h3>Contact Details:</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label" for="contactname">Full Name</label>
                            <div class="controls">
                                <input type="text" class="input-medium" id="contactname">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="contactphone">Phone #</label>
                            <div class="controls">
                                <input type="text" class="input-medium" id="contactphone">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="contactfax">Fax #</label>
                            <div class="controls">
                                <input type="text" class="input-medium" id="contactfax">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="contactemail">Contact Email</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="contactemail">
                            </div>
                        </div>
                    </div> <!-- /span6 -->
                    <div class="span5 offset1">
                        <div class="well" style="margin: 20px;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div> <!-- /span6 -->
                </div> <!-- /row-fluid -->
            </div> <!-- /step -->
            <div id="step-4">
                <h3>Complete:</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div> <!-- /span6 -->
                </div> <!-- /row-fluid -->
            </div> <!-- /step -->
        </div> <!-- /wizard -->
    </div>
</div>
