<div class="tab-pane" id="buttons_pane">
    <h2>Buttons</h2>
    <div class="row">
        <div class="col-md-6">
            <p>
                <button class="btn btn-navy-blue btn-over-lightblue">.btn-navy-blue .btn-over-lightblue</button>
            </p>
            <p>
                <button class="btn btn-medium-grey btn-over-orange btn-xs">.btn-medium-grey .btn-over-orange .btn-xs</button>
            </p>
            <p>
                <button class="btn btn-light-grey btn-over-lightblue btn-lg">.btn-light-grey .btn-over-lightblue .btn-lg</button>
            </p>
            <p>
                <button class="btn btn-navy-blue btn-over-green">.btn-navy-blue .btn-over-green</button>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <button class="btn btn-navy-blue btn-over-red">.btn-navy-blue .btn-over-red</button>
            </p>
            <p>
                <button class="btn btn-navy-blue btn-over-red btn-pill">.btn-navy-blue .btn-over-red .btn-pill</button>
            </p>
            <p>
                <button class="btn btn-light-grey btn-over-lightblue btn-pill">.btn-light-grey .btn-over-lightblue .btn-pill</button>
            </p>
            <p>
                <button class="btn btn-light-grey btn-over-lightblue btn-pill">Test Button</button>
            </p>
        </div>
    </div>
    <hr>
    <h2>Check Boxes and Radio Buttons</h2>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-4 control-label">Stacked Radio Buttons: </label>
            <div class="col-md-8">
                <label class="radio">
                    <input type="radio" name="optionsRadios1" value="option1">
                    Option 1
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios1" value="option2" checked>
                    Option 2
                </label>
                <label class="radio">
                    <input type="radio" name="optionsRadios1" value="option3" disabled>
                    Option 3
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label">Inline Radio Buttons: </label>
                <div class="col-md-8">
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios2" value="option1">
                        Option 1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios2" value="option2" checked>
                        Option 2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios2" value="option3" disabled>
                        Option 3
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-4 control-label">Stacked Checkbox: </label>
            <div class="col-md-8">
                <label class="checkbox">
                    <input type="checkbox" value=""> Checkbox 1
                </label>
                <label class="checkbox">
                    <input type="checkbox" value="" disabled> Checkbox 2
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-4 control-label">Inline Checkbox: </label>
            <div class="col-md-8">
                <label class="checkbox-inline">
                    <input type="checkbox" value=""> Checkbox 1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="" disabled> Checkbox 2
                </label>
            </div>
        </div>
    </div>
    <hr>
    <h2>Radio Button Sliders</h2>
    <div class="row">
        <div class="col-md-6">
            <label class="col-md-2 fldTitle">Radio1</label>
            <div class="col-md-10 field switch fieldwrap">
                <label class="cb-enable selected"><span>Enable</span></label>
                <label class="cb-disable"><span>Disable</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <label class="col-md-2 fldTitle">Radio2</label>
            <div class="col-md-10 on_off fieldwrap">
                <input title="" type="checkbox" checked="checked" id="on_off_on"/>
            </div>
        </div>
    </div>
    <hr>
    <h2>Special Buttons</h2>
    <div class="row">
        <!--<div class="col-md-12">
            To Top Button: please see the right-bottom corner.
            <a href="#" id="toTop" style="display: inline;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>
        </div>-->
        <div class="col-md-6">
            <input type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No">
        </div>
    </div>
</div>
