<div class="tab-pane active" id="colors_pane">
    <h2>Colors</h2>
    <hr>
    <h4>Medicus</h4>
    <div class="row text-center">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-navy-blue"></div>
            <div class="color-item-title">Navy blue</div>
            <div class="color-item-value">#304770</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-light-blue"></div>
            <div class="color-item-title">Light blue</div>
            <div class="color-item-value">#4eabf9</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-darkest-blue"></div>
            <div class="color-item-title">Darkest blue</div>
            <div class="color-item-value">#22324f</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-orange"></div>
            <div class="color-item-title">Orange</div>
            <div class="color-item-value">#ff6b10</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-light-grey"></div>
            <div class="color-item-title">Light grey</div>
            <div class="color-item-value">#efefef</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-medium-grey"></div>
            <div class="color-item-title">Medium grey</div>
            <div class="color-item-value">#aaaaaa</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-light-green"></div>
            <div class="color-item-title">Light green</div>
            <div class="color-item-value">#5cb85c</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-dark-green"></div>
            <div class="color-item-title">Dark green</div>
            <div class="color-item-value">#357935</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-red"></div>
            <div class="color-item-title">Red</div>
            <div class="color-item-value">#bb0000</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-white" style="border: 1px solid grey;"></div>
            <div class="color-item-title">White</div>
            <div class="color-item-value">#000000</div>
        </div>
    </div>

    <hr>
    <h4>Alrux Website</h4>
    <div class="row text-center">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-grey-blue"></div>
            <div class="color-item-title">Grey blue</div>
            <div class="color-item-value">#313942</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-medium-grey2"></div>
            <div class="color-item-title">Medium Grey</div>
            <div class="color-item-value">#455a64</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-light-grey2"></div>
            <div class="color-item-title">Light Grey</div>
            <div class="color-item-value">#cfd8dc</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-lightest-grey"></div>
            <div class="color-item-title">Lightest Grey</div>
            <div class="color-item-value">#eceff1</div>
        </div>
    </div>

    <hr>
    <h4>Santorini</h4>
    <div class="row text-center">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-light-blue2"></div>
            <div class="color-item-title">Light Blue</div>
            <div class="color-item-value">#1289d5</div>
        </div>
    </div>

    <hr>
    <h4>Residence</h4>
    <div class="row text-center">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-dark-blue-grey1"></div>
            <div class="color-item-title">Dark Blue Grey 1</div>
            <div class="color-item-value">#435061</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-dark-blue-grey2"></div>
            <div class="color-item-title">Dark Blue Grey 2</div>
            <div class="color-item-value">#343e4a</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-light-grey3"></div>
            <div class="color-item-title">Light Grey</div>
            <div class="color-item-value">#eff3f5</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-orange"></div>
            <div class="color-item-title">Orange</div>
            <div class="color-item-value">#ff551a</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-light-blue"></div>
            <div class="color-item-title">Light Blue</div>
            <div class="color-item-value">#31a2e1</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-medium-blue"></div>
            <div class="color-item-title">Medium Blue</div>
            <div class="color-item-value">#0e90d9</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="color-item-content bg-pale-blue"></div>
            <div class="color-item-title">Pale Blue</div>
            <div class="color-item-value">#d8f1ff</div>
        </div>
    </div>
</div>