<div class="tab-pane" id="labels_pane">
    <h2>Labels</h2>
    <div class="row">
        <div class="form-inline">
            <div class="col-md-6 form-group">
                <label for="input1">Left Label</label>
                <input type="text" id="input1" class="form-control">
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group">
            <div class="col-md-6 form-group">
                <label for="input2">Top Label</label>
                <input type="text" id="input2" class=" form-control">
            </div>
        </div>
    </div>
</div>
