<div class="tab-pane" id="text_boxes_pane">
    <h2>Text Boxes</h2>
    <div class="row">
        <div class="col-md-6">
            <p>
                <input type="text" name="ci_name" id="ci_name1" class="form-control" placeholder="your name">
            </p>
            <p>
                <input type="text" name="arrive" id="arrive1" class="form-control datepicker hasDatepicker" placeholder="arrival">
            </p>
            <p>
                <select class="form-control" title="">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </p>
            <p>
                <textarea class="form-control" name="comments" id="ci_comments1" cols="30" rows="10" placeholder="comments"></textarea>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <input type="email" name="ci_email" id="ci_email1" class="form-control validate" placeholder="your email"/>
            </p>
            <p>
                <input type="text" name="depart" id="depart1" class="form-control datepicker hasDatepicker" placeholder="departure">
            </p>
            <p>
                <select class="form-control" title="">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </p>
        </div>
    </div>
</div>
