<div class="tab-pane" id="typography_pane">
    <h2>Typography</h2>
    <div class="row">
        <div class="col-xs-6 lato">
            <h1 class="block">Lato - Medicus</h1>
            <h1>Heading level 1</h1>
            <h2>Heading level 2</h2>
            <h3>Heading level 3</h3>
            <p class="rale">
                I’d have to say, those tacos are on fleek. Let’s do a beef and a chicken, and one with both. It’s taco Tuesday Monday. TACOS!! CARNITAS!! Fish tacos: lettuce or cabbage, pico de gallo, avocado and a sour cream or citrus/mayonnaise sauce, all placed on top of a corn or flour
                tortilla.
                Flour or corn tortillas?
            </p>
        </div>
        <div class="col-xs-6 mont">
            <!-- headline styles -->
            <h1 class="block">Montserrat Font - Santorini</h1>
            <h1>Heading level 1</h1>
            <h2>Heading level 2</h2>
            <h3>Heading level 3</h3>
            <p>
                I’d have to say, those tacos are on fleek. Let’s do a beef and a chicken, and one with both. It’s taco Tuesday Monday. TACOS!! CARNITAS!! Fish tacos: lettuce or cabbage, pico de gallo, avocado and a sour cream or citrus/mayonnaise sauce, all placed on top of a corn or flour
                tortilla.
                Flour or corn tortillas?
            </p>
        </div>
        <div class="col-xs-6 lato">
            <h1 class="block">Open Sans - Tachyon</h1>
            <h1>Heading level 1</h1>
            <h2>Heading level 2</h2>
            <h3>Heading level 3</h3>
            <p class="rale">
                I’d have to say, those tacos are on fleek. Let’s do a beef and a chicken, and one with both. It’s taco Tuesday Monday. TACOS!! CARNITAS!! Fish tacos: lettuce or cabbage, pico de gallo, avocado and a sour cream or citrus/mayonnaise sauce, all placed on top of a corn or flour
                tortilla.
                Flour or corn tortillas?
            </p>
        </div>
        <div class="col-xs-6 rale">
            <!-- headline styles -->
            <h1 class="block">Raleway - Medicus</h1>
            <h1>Heading level 1</h1>
            <h2>Heading level 2</h2>
            <h3>Heading level 3</h3>
            <p>
                I’d have to say, those tacos are on fleek. Let’s do a beef and a chicken, and one with both. It’s taco Tuesday Monday. TACOS!! CARNITAS!! Fish tacos: lettuce or cabbage, pico de gallo, avocado and a sour cream or citrus/mayonnaise sauce, all placed on top of a corn or flour
                tortilla.
                Flour or corn tortillas?
            </p>
        </div>
    </div>
</div>
