@import "../../../src/assets/scss/variables";

.style-guide-container {
  background: $white;

  //------- start sidebar -----------------
  .item {
    margin-top: 0;
    .active-item {
      font-weight: bold;
      background: $light-blue3;
    }
    a:hover {
      color: $light-green;
      background: $navy-blue;
    }
    a {
      background: $navy-blue;
      color: $white;
    }
  }
  .items {
    border-right: 1px solid #304770;
    padding: 1px 0 0 0;
    margin: 0 15px 0 -15px;
    a {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
  //------- end sidebar ------------------

  //------- start colors -----------------
  #colors_pane {
    .color-item-content {
      width: 100%;
      height: 150px;
    }
    .color-item-value {
      font-weight: bold;
      margin-bottom: 20px;
    }
    .row /* color-item*/
    {
      margin-bottom: 50px;

    }
  }

  #forms_pane {
    .row {
      //margin-bottom: 20px;
    }
  }

  .sub-section {
    font-family: Raleway;
    color: $dark-grey;
  }

  hr {
    border-top: 2px solid $light-grey;
    margin-top: 0;
  }

  .grids-content {
    .row {
      div {
        text-align: center;
        border: 1px solid white;
        padding: 20px 0 20px 0;
        background: $light-grey2;
        color: $black;
        font-weight: bold;
        div {
          border: 0;
        }
      }
    }
  }
}

/*

#special_forms_pane {
  .btn {
    padding: 0 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

  }
  .btn-open-calendar {
    padding: 7px;
    border: 2px solid $medium-grey !important;
    border-radius: 0 !important;
    border-left: 0 !important;
  }
}

#tabs_pane {
  .nav-tabs {
    padding-left: 2px;
    border-bottom: 1px solid $navy-blue;
    .active {
      a {
        background: $navy-blue;
        color: $white;
      }
    }
    a {
      padding-top: 4px;
      padding-bottom: 5px;
      background: $light-grey;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-left: 0;
      border: 1px solid $light-grey2;
      border-bottom: 1px solid $navy-blue;
    }
  }
  .letter-based {
    border: 0;
    a {
      border: 1px solid $light-grey2;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
  }
}*/
