@import "../../../src/assets/scss/variables";

body {
  background: $white !important;

  .span6 {
    padding: 20px;
  }
  .navbar-top {
    background-color: $navy-blue;
    border-color: $navy-blue;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
    li > a {
      color: $white;
    }
    .navbar-brand {
      color: $white;
      font-family: "Glasgow";
      font-weight: bolder;
      font-size: x-large;
    }
  }
  .sidebar {
    .item {
      margin-top: 0;
      .active-item {
        background: $light-blue2;
        color: $navy-blue;
        font-weight: bold;
      }
      a:hover {
        background: $light-blue;
        color: $navy-blue;
      }
      a {
        background: $navy-blue;
        color: $white;
      }
    }
    .items {
      border-right: 1px solid #304770;
      padding: 1px 0 0 0;
      margin: 0 15px 0 -15px;
      a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
  }
  #typography_pane {
    .block {
      background-color: $dark-blue;
      color: $white;
      margin: 0 0 0 -6px;
      padding: 10px;
    }
  }
  #labels {
    .row {
      margin-left: 0;
    }
  }
  #text_boxes, #forms {
    .row {
      padding-top: 10px;
    }
  }

  label {
    font-weight: normal;
  }
  .fldTitle {
    padding-top: 4px;
  }
  .grids-content {
    .row {
      div {
        text-align: center;
        border: 1px solid white;
        padding: 20px 0 20px 0;
        background: $light-grey2;
        color: $black;
        font-weight: bold;
        div {
          border: 0;
        }
      }
    }
  }

  .color-item-content {
    width: 100%;
    height: 150px;
  }
  .color-item-value {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .section {
    margin-bottom: $gutter*2;
  }

  .buttons-div {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    text-align: right;
    .btn {
      //box-shadow: 0 1px 2px #bfbfbf;
      //background: $light-grey3;
      font-weight: bold;
      margin-left: 3px;
      padding-left: 10px;
      padding-right: 10px;
      &.active {
        background: $navy-blue;
        color: $white;
      }
    }
  }
  .badge {
    display: inline-block;
    background: $medium-grey;
    padding: 1px 12px;
    margin-top: 9px;
    color: $white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .modal-content {
    border: 15px solid $medium-grey;
  }
  .modal-header:after {
    border-bottom: 0;
  }
  .modal-backdrop {
    opacity: 0.9 !important;
  }
  .modal-dialog {
    margin-top: 20%;
  }
}

#special_forms_pane {
  .btn {
    padding: 5px 8px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

  }
  .btn-open-calendar {
    padding: 7px;
    border: 2px solid $medium-grey !important;
    border-radius: 0 !important;
    border-left: 0 !important;
  }
}